.filter-select
    .btn
        border-color #FFFFFF
    //     margin 0 5px 5px 0
    //     border-radius 15px
    //     padding 1px 8px

// .filter-select
//     cursor pointer
//     &:hover
//         border-color #A5A5A5
