.filter-parent
    .btn
        border-color #FFFFFF
    .partial-select
        border-color #A5A5A5
    .full-select
        background-color #A5A5A5

    // .btn-cont
    //     margin-bottom 5px
    //     .btn
    //         margin 0 5px 5px 0
    //         // border-radius 15px
    //         padding 1px 8px

// .panel-heading
//     cursor pointer
//     &:hover
//         border-color #A5A5A5
